TEST_LANDLORD_EMAIL=
TEST_LANDLORD_PASSWORD=
TEST_TENANT_EMAIL=
TEST_TENANT_PASSWORD=


TEST_EMPTY_LANDLORD_EMAIL=
TEST_EMPTY_LANDLORD_PASSWORD=
TEST_UNASSIGNED_TENANT_EMAIL=
TEST_UNASSIGNED_TENANT_PASSWORD=
